#sidebar {
    background-color: #263043;
    width: 300px;
    height: 100%;
    
    
}

.dashboard {
    margin: 20px;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    gap: 0.5rem;
}

.close_icon {
    font-size: 20px;
    color: #fc730a;
    margin-left: 30px;
    margin-bottom: 15px;
    cursor: default;
}

.close__ {
    display: none;
}

ul {
    margin-top: 40px;
    list-style-type: none;
    /* text-align: end; */
}

li {
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* Vertical center alignment if needed */
    justify-content: space-between;
}

.icon_right {
    text-align-last: right;
    margin-right: 15px;
    /* margin-left: 50px; */
    /* margin-top: 10%; */


}

a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    /* margin-left: 0; */
    text-decoration: none;
    color: #fff;
}

.li_icon {
    font-size: 20px;
}

.active {

    padding: 7px;
    border-radius: 10px ;
    background-color: gray;
    margin-right: 10px;
}

.userProfile {
    font-size: 8px;
    width: 13%;
    position: absolute;
    bottom: 0;
    display: flex;
    margin: 20px;
    align-items: center;
    gap: 1rem;
    background-color: gray;
    padding: 5px 8px 5px 8px;
    /* padding-top: 5px; */

    border-radius: 6px;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

span {

    font-size: 8px;
}
.doWN{
    font-size: 15px;
    justify-self: flex-end;
    margin-left: 10px;
}
._userName {
    margin-top: 0;
    font-size: 15px;
    margin-bottom: -2px;
}
.sidebar-responsive {
        
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
    height: 100%; 
    width: 10px;
    position: fixed;           
}

/* =================================================== */

/* Add a CSS class to hide the sidebar off the screen */


/* Add a CSS class to bring back the sidebar */



/* ===================================================== */

























/* ======================================================== */

@media (max-width: 1025px) {
    #sidebar {
        display: none;
        height: 100vh;
        width: 250px;
    }
    
   .userProfile {
        width: 23em ;
        margin-bottom: 20px
        /* Make the user profile visible */
        /* position: relative; */
    }
    /* Add styles for the hamburger menu icon */
  
}
@media (max-width: 768px) {
    #sidebar{
        height: 104vh;
    }

}
@media (max-width: 600px) {
    #sidebar{
        height:100%;
    }
}